@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap");
nav {
  margin: 0;
  height: 3.5em;
  display: flex;
  justify-content: space-between;
  background-color: #1e1f22;
}
ul {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 1.3em;
  gap: 1em;
  margin-left: 1em;
  color: #cecece;
}
ul li {
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
}
ul li:hover {
  color: white;
  text-decoration: underline;
}
.search-and-user-info {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 2em;
}
form {
  height: 100%;
  width: 40%;
  display: flex;
  align-items: center;
}
input[type="search"] {
  height: 70%;
  width: 100%;
  border: none;
  border-radius: 1em;
  text-indent: 1em;
  font-size: 1em;
  background-color: #cecece;
  font-family: "Ubuntu", sans-serif;
}
.nav-search {
  visibility: hidden;
  width: 0.1px;
}

input[type="search"]:focus {
  outline: none;
  background-color: white;
}

.user-icon {
  font-size: 2em;
  color: #cecece;
  cursor: pointer;
}
.user-icon:hover {
  color: white;
}
